# My First "R" Notebook

My name is Kevin Rodriguez Siu, and this is my first Jupyter notebook using R. Don't forget to change the kernel so it's an R kernel before executing.

## Problem 1: Find the Multiplication of 2 numbers

In [1]:
2 * 3 # Multiplication

[1] 6

## Problem 2: Find the Substraction of 2 numbers

In [2]:
4 - 1 # Substraction

[1] 3

## Problem 3: Add 2 to the given number.

In [3]:
a <- 1 # Assigning 1 to the variable called "a"
a + 2 # Adding 2

[1] 3

## Problem 4: Create a data frame

In [4]:
df = data.frame( Emp_Name = c("Jai", "David", "Michael"),
                 Job_Role = c("Manager","Team Lead", "Developer")
               )
print(df)

  Emp_Name  Job_Role
1      Jai   Manager
2    David Team Lead
3  Michael Developer